.rs-slider {
  height: 100vh;
  border-radius: 0 0 140px 0;
  max-height: 904px;
  overflow: hidden;
  padding-top: 120px;
  margin-top: 0px;
}
@media (max-width: 991.98px) {
  .rs-slider {
    padding-top: 74px;
    max-height: 591px;
    border-radius: 0 0 92px 0;
  }
}
.rs-slider__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.rs-slider__img_slider {
  width: 100%;
  height: 100%;
}
.rs-slider__img_swiper {
  width: 100%;
  height: 100%;
}
.rs-slider__img_slide {
  width: 100%;
  height: 100%;
}
.rs-slider__img_slide img,
.rs-slider__img_slide video,
.rs-slider__img_slide iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.rs-slider__img_slide img:last-child,
.rs-slider__img_slide video:last-child,
.rs-slider__img_slide iframe:last-child {
  display: inline-block;
}
@media (min-width: 991.98px) {
  .rs-slider__img_slide img:last-child,
  .rs-slider__img_slide video:last-child,
  .rs-slider__img_slide iframe:last-child {
    display: none;
  }
}
.rs-slider__img_slide img:first-child,
.rs-slider__img_slide video:first-child,
.rs-slider__img_slide iframe:first-child {
  display: inline-block;
}
@media (max-width: 991.98px) {
  .rs-slider__img_slide img:first-child,
  .rs-slider__img_slide video:first-child,
  .rs-slider__img_slide iframe:first-child {
    display: none;
  }
}
.rs-slider__container {
  width: 100%;
  height: 100%;
}
.rs-slider__content {
  width: 100%;
  height: 100%;
  max-width: 730px;
  margin: 0;
}
.rs-slider__content_slider {
  width: 100%;
  height: 100%;
  overflow: visible;
}
.rs-slider__content_swiper {
  width: 100%;
  height: 100%;
}
.rs-slider__content_slide {
  width: 100%;
  height: 100%;
}
.rs-slider__content_slide .rs-slider__content_body h1 {
  opacity: 0;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: opacity 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  transition: opacity 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, opacity 0.5s ease 0s;
  transition: transform 0.5s ease 0s, opacity 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}
.rs-slider__content_slide .rs-slider__content_body p {
  opacity: 0;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: opacity 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  transition: opacity 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, opacity 0.5s ease 0s;
  transition: transform 0.5s ease 0s, opacity 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}
.rs-slider__content_slide .rs-slider__content_buttons {
  opacity: 0;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: opacity 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
  transition: opacity 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s, opacity 0.8s ease 0s;
  transition: transform 0.8s ease 0s, opacity 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
}
.rs-slider__content_slide.swiper-slide-active .rs-slider__content_body h1 {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: opacity 0.5s ease 0.5s, -webkit-transform 0.5s ease 0.5s;
  transition: opacity 0.5s ease 0.5s, -webkit-transform 0.5s ease 0.5s;
  transition: transform 0.5s ease 0.5s, opacity 0.5s ease 0.5s;
  transition: transform 0.5s ease 0.5s, opacity 0.5s ease 0.5s, -webkit-transform 0.5s ease 0.5s;
}
.rs-slider__content_slide.swiper-slide-active .rs-slider__content_body p {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: opacity 0.5s ease 0.6s, -webkit-transform 0.5s ease 0.6s;
  transition: opacity 0.5s ease 0.6s, -webkit-transform 0.5s ease 0.6s;
  transition: transform 0.5s ease 0.6s, opacity 0.5s ease 0.6s;
  transition: transform 0.5s ease 0.6s, opacity 0.5s ease 0.6s, -webkit-transform 0.5s ease 0.6s;
}
.rs-slider__content_slide.swiper-slide-active .rs-slider__content_buttons {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: opacity 0.8s ease 0.7s, -webkit-transform 0.8s ease 0.7s;
  transition: opacity 0.8s ease 0.7s, -webkit-transform 0.8s ease 0.7s;
  transition: transform 0.8s ease 0.7s, opacity 0.8s ease 0.7s;
  transition: transform 0.8s ease 0.7s, opacity 0.8s ease 0.7s, -webkit-transform 0.8s ease 0.7s;
}
.rs-slider__content_body {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 137px 0px;
  color: #fff;
}
@media (max-width: 991.98px) {
  .rs-slider__content_body {
    padding: 104px 0px;
  }
}
.rs-slider__content_body p {
  margin-top: 10px;
}
@media (max-width: 991.98px) {
  .rs-slider__content_body p {
    margin-top: 7px;
  }
}
.rs-slider__content_buttons {
  margin-top: 40px;
}
@media (max-width: 1439.98px) {
  .rs-slider__content_buttons {
    margin-top: 20px;
  }
}
@media (max-width: 991.98px) {
  .rs-slider__content_buttons {
    margin-top: 10px;
  }
}
.rs-slider__content .swiper-horizontal > .swiper-pagination-bullets,
.rs-slider__content .swiper-pagination-bullets.swiper-pagination-horizontal,
.rs-slider__content .swiper-pagination-custom,
.rs-slider__content .swiper-pagination-fraction {
  bottom: 34px;
  position: absolute;
}
@media (min-width: 991.98px) {
  .rs-slider__content .swiper-horizontal > .swiper-pagination-bullets,
  .rs-slider__content .swiper-pagination-bullets.swiper-pagination-horizontal,
  .rs-slider__content .swiper-pagination-custom,
  .rs-slider__content .swiper-pagination-fraction {
    left: -4px;
    text-align: left;
  }
}
@media (max-width: 991.98px) {
  .rs-slider__content .swiper-horizontal > .swiper-pagination-bullets,
  .rs-slider__content .swiper-pagination-bullets.swiper-pagination-horizontal,
  .rs-slider__content .swiper-pagination-custom,
  .rs-slider__content .swiper-pagination-fraction {
    bottom: 23px;
  }
}