.rs-about {
	// .rs-about__container
	&__container {
	}

	// .rs-about__wrapper
	&__wrapper {
		display: flex;
		background-color: var(--second-color);
		border-radius: 10px 140px;
		overflow: hidden;

		@media (max-width: 991.98px) {
			flex-direction: column;
			align-items: flex-start;
			border-radius: 5px 64px 64px 5px;
		}
	}

	// .rs-about__img
	&__img {
		flex: 0 0 calc(100% - 55.758%);

		@media (max-width: 991.98px) {
			flex: 0 0 100%;
		}

		img {
			width: 100%;
			height: 100%;
			border-radius: 10px 140px;
			box-shadow: 37px 0 60px 0 #004429;
			object-fit: cover;

			@media (max-width: 991.98px) {
				border-radius: 5px 64px;
			}
		}
	}

	// .rs-about__desc
	&__desc {
		flex: 0 0 55.758%;
		padding: 7% 8% 7% 7%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		color: #fff;

		@media (max-width: 991.98px) {
			padding: 26px 20px 20px;
			flex: 0 0 100%;
		}

		h3 {
			margin-bottom: 30px;
		}

		p {
			margin-bottom: 10px;
			// line-height: 30px;
			line-height: 150%;
		}

		.rs-btn {
			margin-top: 20px;
		}
	}
}
