section {
	margin: 120px 0px;
	position: relative;

	@media (max-width: 1439.98px) {
		margin: 80px 0px;
	}

	@media (max-width: 991.98px) {
		margin: 50px 0px;
	}
}

// Text ========================================================================================================================================================
h1 {
	font-weight: 600;
	font-size: 66px;
	// line-height: 66px;
	line-height: 100%;

	@media (max-width: 1439.98px) {
		font-size: 50px;
	}

	@media (max-width: 1169.98px) {
		font-size: 35px;
	}

	@media (max-width: 991.98px) {
		font-size: 20px;
	}
}

h2 {
	font-weight: 600;
	font-size: 50px;
	// line-height: 60px;
	line-height: 120%;
	text-align: center;
	margin-bottom: 40px;

	@media (max-width: 1439.98px) {
		font-size: 30px;
		margin-bottom: 30px;
	}

	@media (max-width: 1169.98px) {
		font-size: 30px;
		margin-bottom: 20px;
	}

	@media (max-width: 991.98px) {
		font-size: 20px;
		margin-bottom: 14px;
	}
}

h3 {
	font-weight: 600;
	font-size: 40px;
	// line-height: 44px;
	line-height: 110%;

	@media (max-width: 1439.98px) {
		font-size: 30px;
	}

	@media (max-width: 1169.98px) {
		font-size: 20px;
	}

	@media (max-width: 991.98px) {
		font-size: 16px;
	}
}

h4 {
	font-weight: 500;
	font-size: 22px;
	// line-height: 26px;
	line-height: 120%;

	@media (max-width: 1439.98px) {
		font-size: 20px;
	}

	@media (max-width: 1169.98px) {
		font-size: 18px;
	}

	@media (max-width: 991.98px) {
		font-size: 16px;
	}
}

h5 {
	font-weight: 600;
	font-size: 20px;
	// line-height: 24px;
	line-height: 120%;

	@media (max-width: 1439.98px) {
		font-size: 18px;
	}

	@media (max-width: 1169.98px) {
		font-size: 16px;
	}

	@media (max-width: 991.98px) {
		font-size: 13px;
	}
}

h6 {
}

p {
	font-weight: 200;
	font-size: 20px;
	// line-height: 26px;
	line-height: 130%;

	@media (max-width: 1439.98px) {
		font-size: 16px;
	}

	@media (max-width: 1169.98px) {
		font-size: 14px;
	}

	@media (max-width: 991.98px) {
		font-size: 13px;
	}
}

// Button ========================================================================================================================================================
.rs-btn {
	position: relative;
	overflow: hidden;
	-webkit-appearance: button;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: all 0.3s ease 0s;
	border-radius: 68px;
	padding: 21px 50px;
	font-family: "Geologica", sans-serif;
	font-weight: 500;
	font-size: 18px;

	@media (max-width: 1439.98px) {
		font-size: 16px;
	}

	@media (max-width: 1169.98px) {
		font-size: 13px;
		padding: 14px 35px;
	}

	@media (any-hover: hover) {
		&:hover {
			transform: scale(1.1);
		}
	}

	&._btn-primary {
		color: #fff;
		background-color: var(--primary-color);

		@media (any-hover: hover) {
			&:hover {
				background-color: #ff2462;
			}
		}
	}

	&._btn-second {
		color: #fff;
		background-color: var(--second-color);

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--primary-color);
			}
		}
	}
}

.form {
	// .form__block
	&__block {
	}

	// .form__row
	&__row {
		@media (min-width: 991.98px) {
			display: flex;
			justify-content: space-between;

			.form__line {
				flex: 1 1 50%;

				&:not(:last-child) {
					margin-right: 12px;
				}
			}
		}
	}

	// .form__line
	&__line {
		width: 100%;
		position: relative;
		margin-bottom: 15px;

		&:after {
			content: "";
			position: absolute;
			right: 25px;
			top: 20px;
			width: 18px;
			height: 18px;
			background-image: unset;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			pointer-events: none;
			user-select: none;
			transition: all 0.3s ease 0s;
		}

		&._form-error {
			.rs-input {
				color: #fe003e;
				border: 1px solid #fe003e;
			}

			&:after {
				background-image: url("../../img/icons/red.svg");
			}
		}

		&._form-right {
			&:after {
				background-image: url("../../img/icons/green.svg");
			}
		}

		&._form-valid {
			&:after {
				background-image: url("../../img/icons/green.svg");
			}
		}

		&._form-focus {
			&:after {
				background-image: unset;
			}
		}
	}

	&__error {
		margin: 3px 0 0 25px;
		font-weight: 300;
		font-size: 13px;
		color: #f9f9f9;
	}

	&__icon {
		position: absolute;
		right: 25px;
		top: 20px;
		width: 18px;
		height: 18px;
		background-image: unset;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		pointer-events: none;
		user-select: none;
		transition: all 0.3s ease 0s;
	}

	&__footer {
		margin-top: 15px;

		@media (min-width: 991.98px) {
			display: flex;
			align-items: center;
		}

		.form__button {
			margin-top: 0px;

			@media (min-width: 991.98px) {
				min-width: 229px;
			}
		}

		.form__agreement {
			flex-grow: 1;

			@media (min-width: 991.98px) {
				margin-top: 0px;
				margin-bottom: 0px;
				margin-right: 16px;
			}
		}
	}

	// .form__button
	&__button {
		margin-top: 20px;

		.rs-btn {
			width: 100%;
		}
	}

	// .form__agreement
	&__agreement {
		font-weight: 200;
		font-size: 14px;
		// line-height: 17px;
		line-height: 120%;
		color: #fff;
		margin-top: 20px;
		margin-bottom: 20px;

		a {
			text-decoration: underline;
			text-underline-offset: 2px;
			text-decoration-skip-ink: none;

			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

.rs-input {
	outline: none;
	width: 100%;
	transition: 0.3s ease 0s;
	transition-property: background-color, border-color;
	padding: 20px 25px;
	font-weight: 300;
	font-size: 14px;
	color: var(--font-color);
	border-radius: 68px;
	background: #fff;

	@media (max-width: 991.98px) {
		font-size: 13px;
	}

	&::placeholder {
		color: #6e8675;
	}

	&._form-focus {
	}

	&._form-error {
	}

	&._form-icon {
	}
}

.rs-input-clear {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	top: 27px;
	right: 20px;
	width: 10px;
	height: 10px;
	display: flex;
	align-items: center;
	justify-content: center;

	@media (max-width: 991.98px) {
		top: 20px;
	}

	&._clear-active {
		opacity: 1;
		visibility: visible;
		pointer-events: unset;
	}

	svg {
		width: 100%;
		height: 100%;
	}
}

textarea.rs-input {
	resize: vertical;
	min-height: 168px;
	border-radius: 24px;
	padding: 25px;
}

// Block  ========================================================================================================================================================
